{% ckan_extends %}

{% set pkg = c.pkg_dict %}

{% block primary_content_inner %}
  {{ super() }}
  
  {# block package_title %}
  <h1>
    {% block page_heading %}
		{{ pkg.title or pkg.name }}
    {% endblock %}
  </h1>
  {% endblock #}
  
  {% block package_bibtex %}
	{% if pkg.bib_post %}
		{% set res = pkg.bib_post.resource %}
		{% if res.resourcetype == 'bibtex' %}
			{% snippet "package/snippets/bibtex_info.html", bib_res = res %}
		{% endif %}
	{% endif %}
  {% endblock %}
  
  {% block bibsonomy_plugin %}
	<hr />
	{% if pkg.bib_notes %}
		<p>{{ pkg.bib_notes }}</p>
	{% endif %}
	<p style="font-size:85%">{{ pkg.bib_version }}</p>
  {% endblock %}

{% endblock %}