<section class="additional-info">
	<h3>{{ _('Bibtex Info') }}</h3>
	{% block bibtex_citation %}
		<p>{% snippet "package/snippets/bibtex_citation.html", bib_res = bib_res %}</p>
	{% endblock %}

	{% block bibtex_abstract %}
		{% if bib_res.abstract %}
			<h4>{{ _('Abstract') }}</h4>
			<p>{{ bib_res.abstract }}</p>
		{% endif %}
	{% endblock %}
</section>